



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!--
<link rel="stylesheet" href="/lib/highlight/styles/default.css">
<script src="/lib/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
-->

<!--
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$']]}
});
</script>
-->


<link rel="stylesheet" href="/res/article.css">


    <div class="content">

        <article id="rendered">
            <div class="date">${date.getFullYear()}年${1 + date.getMonth()}月${date.getDate()}日</div>
            <h1 class="article-title">
                <!-- <i class="fa fa-coffee" aria-hidden="true"></i> -->
                <a href="${basename}">${metadata.title}<a>
            </h1>        
            <p class="tags">${tags}</p>
            <hr>
            ${content}
            ${sns}
        </article>
    </div>

