<footer>
    <div class="block-centered footer-inner">
        <p class="copy">&nbsp;</p>
        <p class="author">このブログを書いてる人:&nbsp;&nbsp; 羽佐田<p>
    </div>

    <script>
        const poem = [
            "なんにもない毎日が、なによりの宝物。",
            "今日という日を、何度でも繰り返したい。",
            "世界を追いかけなくても、世界は私のまわりにある。", 
            "速すぎる雑踏。鼻先をくすぐる春風。", 
            "明日撮る写真を飾る場所を、アルバムに空けておこう。", 
            "落ち葉が地面に、触れる音がした。", 
            "明日は、明日の楽しさが待っている。", 
            "風が泣いている。この想いを紡ぐ言葉を持たないから。", 
            "もうここには何もない。つまり、はじまりの時が来た。", 
            "もう此処にはこないだろう。そう言って私は過去に背を向けた。", 
            "散りゆくからこそ、美しい。私は桜の花びらをかかとで踏みしめた。", 
            "思い出はいつだって輝いてる。",
            "正直ばかりじゃつまらない。たまには楽しい嘘をつこう。", 
            "ゆっくり歩けば歩くほど、時間がゆっくり過ぎてゆく。",
            "夜明けを、探しにいこう。", 
            "空はこんなに青かったんだ。", 
            "地球は青かった。それはこの空を見上げたことのある全員が知っている。", 
            "休み時間は、長すぎるということはない。", 
            "缶コーヒーを飲むときだけは、それ以外のすべてを忘れることにしてる。", 
            "ちょっと小さいのは確かですが、それは確かにここにあります。", 
            "ちょっと小さいのは確かですが、広すぎる家というのも寂しいでしょう？", 
            "ひつじが一匹、ひつじが二匹。五十匹までは、数えたことがある。"
        ];
    document.querySelector(".copy").textContent = poem[Math.floor(poem.length * Math.random())];
    </script>
</footer>

