<!DOCTYPE html>
<meta charset="UTF-8">

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@cubbit2">
<meta name="twitter:creator" content="@cubbit2">
<meta name="twitter:title" content="${pageTitle}">
<meta name="twitter:description" content="${siteSubTitle}">
<meta name="twitter:image" content="${thumbnail}">

<link rel="icon" type="image/png" href="icon.png">
<link rel="stylesheet" href="/res/reset.css">
<link rel="stylesheet" href="/res/style.css">

<title>${pageTitle}</title>

<header>
    <div class="block-centered">
        <div class="site-title"><a href="/">${siteTitle}</a></div>
        <div class="sub-title">${siteSubTitle}</div>
    </div>
</header>