* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Century", serif;
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    /* background-color: white; */
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1280px;
    height: 720px;
    position: absolute;
}
