@font-face {
    font-family: "SourceHanSerif-Light";
    src: url("SourceHanSerif-Light.otf");
}

* {
    box-sizing: border-box;
    font-family: "Yu Mincho", "SourceHanSerif-Light", serif;
}

p {
    line-height: 2.0;
}

body {
    background-color: #fbfbfb;
    padding: 0;
    margin: 0;
}

header {
    background-color: #8c87f3;
    width: 100%;
    height: 320px;
    color: white;
    font-size: 40px;
    position: relative;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}


.block-centered {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 960px;
    height: 1em;
    position: absolute;
    text-align: center;
}

header > div a {
    color: white;
    text-decoration: none;
}

header .site-title {

}

header .sub-title {
    opacity: 0.6;
    font-size: 20px;
    margin: 30px;
}



header a:hover {
    text-decoration: underline;
}

footer {
    color: white;
    background-color: #8c87f3;

    height: 320px;
    position: relative;    
    line-height: 320px;

    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

footer .block-centered {
    height: 100px;
}

footer .copy {
    font-size: 20px;
}

footer .author {
    font-size: small;
}

footer a {
    color: white;
}



h1 {
    font-size: xx-large;
    font-weight: bold;
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
    margin-top: 2em;
    line-height: 1.5;
}

h2 {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 3em;
    line-height: 1.5;
}

.tags .tag {
    font-family: "Fira Code", monospace; 
    font-size: small;
    color: rgba(0, 0, 0, 0.4);
}

.tags a {
    text-decoration: none; 
}

.tags a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.4);
}



div.date {
    text-align: right;
    padding-right: 4em;
    color: #7b5d56;
}


code * {
}

code {
    font-family: "Fira Code", monospace;
    background-color: #f3f3f3;
    font-size: smaller;
}

pre {
    background-color: #f3f3f3;
    padding: 10px;
    line-height: 1.0;
    font-size: small;
    font-family: "Fira Code", monospace;
}

pre span {
    font-family: "Fira Code";    
}

pre code {
    font-size: small;
}

blockquote {
    background-color: #f3f3f3;
    padding: 10px;
}

strong {
    font-family: "Yu Gothic";
    font-weight: bold;
}


div.content {
    max-width: 960px;
    min-height: 10em;
    margin-left: auto;
    margin-right: auto;
}

.togetter_widget {
    width: calc(100% - 200px);
    height: 400px;
    overflow-y: scroll;
    margin: 100px;
}

img {
    max-width: calc(960px - 100px);
}



p {
    margin-top: 1em;
    margin-bottom: 1em;
    text-indent: 1em;
}



a:nth-child(odd) li.article{
    background-color: grey; 
    color: white;
}



.snsbuttons {
    display: flex;
    justify-content: center;
}

.snsbuttons * {
    margin-left: 2px; 
    margin-right: 2px; 
}


li {
    margin: 0.8em;
}


.snsbuttons {
    margin-top: 1em;
    margin-bottom: 1em;
}