article {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}


.article-container {
    padding: 30px;
    margin-bottom: 100px;
    width: 960px;

    /* max-width: 960px; */
    transition-property: all;
    transition-duration: 0.3s;


    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-60px);
    background-color: white;
}


li {
    margin: 0.5em;
    line-height: 2.0em;
}

.article-entry {
    width: 260px;

    height: 200px; 
    list-style-type: none;
    margin: 20px;
    position: relative;
    float: left;
    transition-property: all;
    transition-duration: 0.3s;    

    overflow: hidden;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); 

    font-size: 14px;
}

.article-entry:hover {
    transform: scale(1.6);
    z-index: 100;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4); 
}

.article-entry .thumbnail {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.article-entry .title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    line-height: 1.4em;
    color: black;
    transition-property: all; 
    transition-duration: 0.3s;
}


.article-entry .date {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
    line-height: 1.4em;
    
    background-color: rgba(255, 255, 255, 0.7);
    color: black;   
    border-radius: 0.5em;
}



.article-container > a:nth-child(7) > div {
    width: 560px;
    height: 440px;
}

.article-container > a:nth-child(14) > div {
    width: 560px;
}

.article-container > a:nth-child(21) > div {
    width: 560px;
}

.article-container > a:nth-child(27) > div {
    width: 560px;
}

.article-container > a:nth-child(28) > div {
    width: 560px;
}

.article-container > a:nth-child(36) > div {
    width: 560px;
}

.article-container > a:nth-child(45) > div {
    width: 560px;
}

.article-container > a:nth-child(46) > div {
    width: 560px;
}





h2 {
    opacity: 0.4; 
    border-bottom: solid 1px grey;
    clear: both;
    font-size: 12px;
    letter-spacing: 0.5em;
}


@media screen and ( max-width:959px ) {

    article {
        width: 100%;
        padding: 0px;
    }

    .article-container {
        width: 100%;    
        max-width: none;
        margin: 0px;
        transform: none;
    }

    .article-entry {
        width: 100% !important;
        height: initial !important; 
        margin: 0px;
        margin-top: 22px;
        padding: 0px;
        float: none;
    }

    .article-entry .thumbnail {
        height: 80px;
    }

    .article-entry .title {
        position: relative;
    }

    .article-entry .date {
        position: relative;
    }
}

